@import 'src/styles/variables';
@import 'src/styles/mixins.scss';

.wrapper {
    margin-top: 100px;
	padding: 0 5px;
	> img {
		width: 100%;
	}
	.title {
		@include flex-horizontal-center;
		color: $textDark;
		margin-top: 40px;
		img {
			margin-right: 20px;
		}

		.inner {
			font-size: 35px;
			font-weight: 600;
		}
	}

	.texts,
	.text {
		margin-top: 22px;
		color: #666c89;
		font-size: 16px;
		font-family: $кrub;
		font-weight: 500;
		line-height: 151.523%;
	}
}
