@import 'src/styles/variables';
@import 'src/styles/mixins.scss';

.solution {
	.content {
		color: black;
		margin: 95px 0;
		display: flex;

		.left {
			max-width: 294px;


			h1 {
				font-style: normal;
				font-weight: 600;
				font-size: 35px;
				line-height: 41px;
				color: $textDark;
			}
		}

		.right {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			column-gap: 30px;
			row-gap: 70px;
		}
	}
}
