@import 'src/styles/variables';
@import 'src/styles/mixins.scss';

.wrapper {
	margin: 100px 0;
	.content {
		display: flex;
		flex-direction: column;
		color: $textDark;

		.title {
			font-size: 35px;
			font-weight: 600;
			margin-bottom: 12px;
		}

		.text {
			font-size: 16px;
			color: #666c89;
			font-family: $кrub;
			font-weight: 500;
			line-height: 151.523%;
			margin-bottom: 30px;
		}
	}
}
