@import 'src/styles/variables';
@import 'src/styles/mixins.scss';

.wrapper {
	background-color: rgba(0, 0, 0, 0.1); /* Прозрачный цвет фона */
	// backdrop-filter: blur(2px); /* Размытие фона */

	.bottom {
		min-height: 78px;
		@include flex-between-center;

		.link {
			@include flex-horizontal-center;

			li {
				display: flex;

				
				.inner {
					padding: 0 30px;
					&:hover {
						border-bottom: 1px solid $primary1;
					}
				}
				span {
					border-right: 1px solid rgba(255, 255, 255, 0.2);
				}
			}
		}

		.icons {
			@include flex-horizontal-center;
			list-style: none;
			height: 100%;

			li {
				margin-right: 24px;

				&:nth-child(4) {
					margin-right: 50px;
				}
			}
			.request {
				@include flex-content-center;
				width: 215px;
				height: 78px;
				background-color: $Secondary1;
				color: black;
				button {
					width: 100%;
					height: 100%;
					transition: all 0.3s ease;

					&:hover {
						color: $primary1;
					}
				}
			}
		}
	}
}
