@import 'src/styles/variables';
@import 'src/styles/mixins.scss';

.wrapper {
	background-color: $Heading;
	.top {
		display: flex;
		justify-content: space-between;
		background-color: $Heading;
		position: relative;
		padding: 46px 0;

		.time {
			display: flex;

			.block {
				@include flex-horizontal-center;

				padding: 0 5px;

				.svg {
					@include flex-content-center;
					width: 63px;
					height: 63px;
					border-radius: 50%;
					background: #111c55;
					border: 1px solid #273270;
				}
				p {
					margin-left: 17px;
				}
				a {
					margin-left: 17px;

					&:hover {
						border-color: $primary1;
					}
				}
			}
		}
	}
}
