// @import './global';

$кrub: 'Krub', sans-serif;
$rubik: 'Rubik', sans-serif;

$primary1: #ffbe34;
$primary2: #091242;
$Secondary1: #f4f4f4;
$Heading: #091242;
$Paragraph: #666c89;
$textOrange: #ffb629;

$textDark: #1c1f35;

$Gradient: linear-gradient(
	94.06deg,
	#ffb629 -1.21%,
	#ffda56 50.75%,
	#ffd7a6 102.71%
);

$btnDark: #091242;

$zIdex10: 10;
$zIdex5: 5;
$zIdex1: 1;
$zIdex0: 0;

