@import 'src/styles/variables';
@import 'src/styles/mixins.scss';

.wrapper {
	margin: 100px 0;

	.content {
		@include flex-horizontal-center;
		color: $textDark;

		.images {
			max-width: 100%;
		}
		.texts {

            margin-left: 50px;

			.label {
				font-size: 35px;
				font-weight: 600;
                margin-bottom: 40px;
			}

            .blok{
                display: flex;
                flex-direction: column;


                .contenting{
                    display: flex;
                    align-items: center;
                   

                    .title{
                        width: 114px;
                        display: flex;
                       
                        font-size: 20px;
                        font-weight: 500;
                    }
                    
                    span{
                        margin-right: 13px;
                    }
                    .inner{
                 
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
		}
	}
}
